.DS_Store

Builder/macOS/Brewfile.lock.json

Builder/Linux/xm8_linux_x86_64.appimage
linuxdeploy-x86_64.AppImage

Builder/Windows/.vs
Builder/Windows/XM8
Builder/Windows/Debug
Builder/Windows/Release
Builder/Windows/SDL/include
Builder/Windows/SDL/lib
Builder/Windows/x64
Builder/Windows/x86
Builder/Windows/Win32
Builder/Windows/ARM64
Builder/Windows/XM8.vcxproj.user

build/
Builder/Android/app/jni/SDL/include
Builder/Android/app/jni/SDL/src
Builder/Android/app/jni/src/ePC-8801MA
Builder/Android/app/jni/src/UI
Builder/Android/app/CMakeCache.txt
Builder/Android/app/release
