.DS_Store

Platforms/macOS/Brewfile.lock.json

Platforms/Linux/xm8_linux_x86_64.appimage
linuxdeploy-x86_64.AppImage

Platforms/Windows/.vs
Platforms/Windows/Debug
Platforms/Windows/Release
Platforms/Windows/SDL
Platforms/Windows/x64

build/
