.DS_Store

Platforms/macOS/Brewfile.lock.json

Platforms/Linux/xm8_linux_x86_64.appimage
linuxdeploy-x86_64.AppImage

Platforms/Windows/.vs
Platforms/Windows/Debug
Platforms/Windows/Release
Platforms/Windows/SDL/include
Platforms/Windows/SDL/lib
Platforms/Windows/x64
Platforms/Windows/x86
Platforms/Windows/XM8.vcxproj.user

build/
Platforms/Android/app/jni/SDL/include
Platforms/Android/app/jni/SDL/src
Platforms/Android/app/jni/src/ePC-8801MA
Platforms/Android/app/jni/src/UI
Platforms/Android/app/CMakeCache.txt
