[Desktop Entry]
Name=XM8
GenericName=XM8
Comment=PC-8801MA Emulator
Comment[ja]=PC-8801MA エミュレーター
Exec=xm8
Icon=xm8
Terminal=false
Type=Application
X-DCOP-ServiceType=Multi
X-KDE-StartupNotify=true
Categories=Game;Emulator;
X-Desktop-File-Install-Version=0.23
